*{
	margin: 0;
	padding: 0;
}
body{
	/*overflow-x:hidden;*/
	/*background-color: rgb(238, 238, 238);*/
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	margin: 0;
	padding: 0;
}
.Idiv{
	width: 100%;
	background: rgb(238, 238, 238);
	padding-bottom: 0.724638rem;
}
.Iheader{
	position: fixed;
	left: 0;
	top: 0;
	width: 10rem;
	height: 1.409662rem;
	line-height: 1.409662rem;
	background: #f9fafd;
}
.Iheader .span1 img{
	width: 0.903865rem;
	height: 0.903865rem;
	float: left;
	margin-top: 0.283092rem;
}
.Iheader .span2{
	margin-left: 2.830918rem;
	color: #333;
	font-size: 0.438551rem;
	float: left;
}
.Iheader .span3{
	float: right;
}
.Iheader .span3 img{
	width: 0.903865rem;
	height: 0.903865rem;
	float: left;
	margin-top: 0.283092rem;
	margin-right: 0.241546rem;
}
.Islider{
	clear: both;
	position: relative;
	margin-top: 1.409662rem;
}
.Islider img{
	width: 10rem;
	height: 4.380193rem;
}
.Islider ul{
	position: absolute;
	left: 0;
	bottom: 0.193237rem;
}
.Islider ul li{
	float: left;
	font-size: 0.469879rem;
	color: white;
	background: #272c2a;
	text-align: center;
	width: 2.477923rem;
	height: 2.192754rem;
	border-right: 1px solid white;
}
.Islider ul li:first-child{
	background: #fdd000;
}
.Islider ul li:last-child{
	border-right: none;
}
.Islider ul li .p1{
	font-weight: bold;
	margin: 0.241546rem 0 0.120773rem 0;
}
.Islider ul li .p3{
	margin:0.121546rem 0 0 0.983092rem;
	width:0.386473rem;
	height: 0.386473rem;
	line-height: 0.821256rem;
	background: url(../../img/ixiarow.png)no-repeat right center;
	background-size: 1.256039rem 0.386473rem;
}
.Itop{
	clear: both;
	width: 10rem;
	height: 0.966184rem;
}
.Itop .Itop1{
	float: left;
	width: 3.091787rem;
	height: 0.966184rem;
	background: #fdd000;
	font-size: 0.406232rem;
}
.Itop .Itop1 p{
	width: 2.05314rem;
	text-align: right;
	color: #333;
}
.Itop .Itop1 .p1{
	margin-top: 0.120773rem;
	font-size: 0.31401rem;
}
.Itop .span1{
	float: left;
	width: 0;
	height: 0;
	border-top: 0.483092rem solid transparent;
	border-left: 0.383092rem solid #fdd000;
	border-bottom: 0.483092rem solid transparent;
	border-right: 0.483092rem solid transparent;
}
.Itop .span2{
	float: right;
	margin-top: 0.144928rem;
	width: 2.753623rem;
	height: 0.676329rem;
	line-height: 0.676329rem;
	text-align: center;
	font-size: 0.338164rem;
	border: 1px solid #272c2a;
	border-radius:0.362319rem;
	background: #272c2a;
	color: #fff;
	margin-right: 0.483092rem;
	display: inline-block;
}
.Ishop{
	clear: both;
	background: #fff;
}
.Ishop ul li{
	width: 10rem;
	height: 4.68744rem;
	margin-bottom: 0.241546rem;
}
.Ishop ul li img{
	float: left;
	width: 4.5rem;
	height: 4.68744rem;
	border-right: 1px solid rgb(238, 238, 238);
}
.Ishop ul li div{
	float: right;
	width: 5.0rem;
	color: #333;
	font-size: 0.406232rem;
}
.Ishop ul li .p1{
	font-size: 0.437488rem;
	height: 0.772947rem;
	line-height: 0.772947rem;
	margin-top: 0.241546rem;
}
.Ishop ul li .p3{
	margin-top: 0.241546rem;
	color: #ff602c;
}
.Ishop ul li .p3 i{
	font-style: normal;
}
.Ishop ul li .p3 .span1{
	font-size: 0.781232rem;
	font-weight: bold;
}
.Ishop ul li .p3 .span2{
	color: #979697; 
}
.Ishop ul li .p4 span{
	margin-top: 0.724638rem;
	width: 3.499758rem;
	height: 0.93744rem;
	line-height: 0.93744rem;
	text-align: center;
	display: inline-block;
	border-radius: 0.483092rem;
	background: #aaa;
	color: #fff;
}
.Ihot{
	clear: both;
	width: 10rem;
	height: 0.966184rem;
	line-height: 0.966184rem;
	text-align: center;
	color: #333;
	font-size: 0.434783rem;
	border-bottom: 0.120773rem solid #aaa;
	background-color: rgb(238, 238, 238);
}
.Ihot i{
	margin-right: 0.120773rem;
	vertical-align: middle;
	font-style: normal;
	width: 0.120773rem;
	height: 0.458937rem;
	background: yellow;
	display: inline-block;
}
.Ifood{
	clear: both;
	width: 10rem;
	height: 13.970532rem;
	background-color: rgb(238, 238, 238);
}
.Ifood ul li{
	float: left;
	width: 4.663043rem;
	height: 6.84372rem;
	margin:0.283092rem 0 0.241546rem 0.241546rem;
	background: white;
}
.Ifood ul li img{
	width: 4.663043rem;
	height: 4.687198rem;
	border-bottom: 1px dashed rgb(231, 231, 231);
}
.Ifood ul li div{
	position: relative;
	width:4.663043rem;
	height: 1.932367rem;
	color: #444;
	font-size: 0.362319rem; 
}
.Ifood ul li div p{
	height: 0.603865rem;
	line-height: 0.603865rem;
	margin-left: 0.120773rem;
}
.Ifood ul li div .p1{
	/*margin-top: -0.483092rem;*/
}
.Ifood ul li div .p3{
	height: 0.724638rem;
	line-height: 0.724638rem;
}
.Ifood ul li div .p3 .span1{
	color: #fc1400;
}
.Ifood ul li div .span{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0.772947rem;
	height: 0.772947rem;
	line-height: 0.772947rem;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	color: #fc1400;
	font-size: 0.483092rem;
	border: 1px solid #999;
	border-radius: 50%;
}
.Ihuodong{
	clear: both;
	width: 10rem;
	height: 0.966184rem;
	line-height: 0.966184rem;
	text-align: center;
	color: #333;
	font-size: 0.434783rem;
	border-bottom: 0.120773rem solid #aaa;
	background-color: rgb(238, 238, 238);
}
.Ihuodong i{
	margin-right: 0.120773rem;
	vertical-align: middle;
	font-style: normal;
	width: 0.120773rem;
	height: 0.458937rem;
	background: yellow;
	display: inline-block;
}
.Ifoot{
	width: 10rem;
	clear: both;
}
.Ifoot ol{
	margin: 0.483092rem 0 1.207729rem 0;
	color: #595757;
	font-size: 0.31401rem;
}
.Ifoot ol li{
	width: 7.5rem;
	margin: 0 auto;
}
.Ifoot ol li:last-child{
	margin-bottom: 0.724638rem;
}